---
// import { Button } from "../../components/button/Button";
import Button from "../../components/button/Button.astro";
import ItemCard from "./components/ItemCard.astro";

const { tServices } = Astro.props;
const learnMore = false;
---

<section id="services" class="mx-auto max-w-7xl px-4 py-12 text-slate-800">
  <div
    class="mb-8 flex flex-col items-start justify-between gap-4 md:flex-row md:items-end md:px-8"
  >
    <h2 class="max-w-lg text-4xl font-bold md:text-5xl">
      {tServices.title}
      <span class="text-slate-400"> {tServices.subtitle}</span>
    </h2>
    {learnMore && <Button>{tServices.learnMore}</Button>}
  </div>
  <div class="mb-4 grid grid-cols-12 gap-4">
    <ItemCard
      title={tServices.cards.softwareDevelopment.title}
      description={tServices.cards.softwareDevelopment.description}
      icon="code"
      variant="blue"
    />
    <ItemCard
      title={tServices.cards.webDevelopment.title}
      description={tServices.cards.webDevelopment.description}
      icon="globe"
      variant="dark"
    />
  </div>
  <div class="grid grid-cols-12 gap-4">
    <ItemCard
      title={tServices.cards.mobileAppDevelopment.title}
      description={tServices.cards.mobileAppDevelopment.description}
      icon="tablet-smartphone"
      variant="orange"
    />
    <ItemCard
      title={tServices.cards.consultingStrategy.title}
      description={tServices.cards.consultingStrategy.description}
      icon="brain"
      variant="pink"
    />
  </div>
</section>
