---
import { getI18n } from "../../i18n";
import { getLangFromUrl } from "../../i18n/utils";
import Button from "../button/Button.astro";
import LogoIcon from "../icons/Logo.astro";
import Menu from "./Menu.astro";
import Nav from "./Nav.astro";

const lang = getLangFromUrl(Astro.url);
const i18n = getI18n({ currentLocale: lang });
const tHeader = i18n.default.header;
---

<header
  class="sticky top-0 z-50 w-full bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60 py-4 shadow-sm"
>
  <div class="container justify-between flex items-center">
    <a class="w-28" href={`/${lang}/`} title={tHeader?.title}>
      <LogoIcon />
    </a>
    <div class="flex items-center gap-10">
      <Nav tNav={tHeader} />
      <div class="flex gap-4 items-center">
        <Button
          className="px-8 hidden min-[390px]:block"
          href={`/${lang}/#contact`}
          size="sm"
        >
          {tHeader.cta.contact}
        </Button>
        <Menu tNav={tHeader.menu} tCta={tHeader.cta} />
      </div>
    </div>
  </div>
</header>
