---
import { getI18n } from "../../i18n";
import { getLangFromUrl } from "../../i18n/utils";
import Button from "../button/Button.astro";
import LogoIcon from "../icons/Logo.astro";
import Menu from "./Menu.astro";
import Nav from "./Nav.astro";

const lang = getLangFromUrl(Astro.url);
const i18n = getI18n({ currentLocale: lang });
const tHeader = i18n.default.header;
---

<header
  class="container justify-between flex items-center pt-2 relative z-50 min-h-20"
>
  <a class="w-32" href={`/${lang}/`} title={tHeader?.title}>
    <LogoIcon />
  </a>
  <Nav tNav={tHeader} />
  <div class="flex gap-4 items-center">
    <Button
      variant="secondary"
      className="px-8 hidden min-[390px]:block"
      href="#contact"
      size="sm"
    >
      {tHeader.cta.contact}
    </Button>
    <Menu tNav={tHeader.menu} tCta={tHeader.cta} />
  </div>
</header>
