---
import { getI18n } from "src/i18n";
import Layout from "src/layouts/Layout.astro";
import { UserCheck, Users, Code, Monitor, Rocket } from "lucide-astro";
import ProcesCard from "../components/ProcesCard.astro";
import Button from "src/components/button/Button.astro";
import PricingCard from "../components/PricingCard.astro";

import ManagementSvg from "../assets/management.svg";
import DevTeamSvg from "../assets/dev-team.svg";
import CodeReviewSvg from "../assets/code-review.svg";
import ClientChecksSvg from "../assets/client-checks.svg";
import DeploySupportSvg from "../assets/deploy-support.svg";

const { lang } = Astro.params as { lang: string };

const i18n = getI18n({ currentLocale: lang });
---

<Layout class="">
  <section
    class="md:h-screen md:max-h-[30vh] flex items-center flex-col justify-center text-white py-[40px] lg:px-60 bg-gradient-to-b from-secondary to-indigo-400 mb-10"
  >
    <div class="container">
      <h1 class="text-xl md:text-4xl font-bold text-center">
        Software Development
      </h1>
      <p class="text-sm md:text-[16px] text-center mt-4 max-w-[900px] mx-auto">
        At <strong>ZitDevs</strong>, we create
        <strong>custom software solutions</strong> tailored to your specific business
        needs. Our process ensures quality and efficiency from the initial consultation
        to final deployment, supported by our experienced team of developers and
        project managers.
      </p>
    </div>
  </section>

  <div class="container mb-10">
    <h2 class="text-4xl font-semibold text-center mt-[70px] mb-10">
      Our Process
    </h2>

    <ul class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
      <ProcesCard
        title="Project Kickoff & Assignment"
        description="Your project begins with the assignment of a dedicated Project Manager (PM) who will oversee the project and serve as your main point of contact"
        image={ManagementSvg}
      />

      <ProcesCard
        title="Development Team Assembly"
        description="We assemble a team of expert developers tailored to the specific technologies and needs of your project."
        image={DevTeamSvg}
      />

      <ProcesCard
        title="Code Review & Quality Assurance"
        description="Throughout development, our team conducts rigorous code reviews and quality assurance testing to ensure the software meets all required standards."
        image={CodeReviewSvg}
      />
      <ProcesCard
        title="Staging & Client Review"
        description="Your software is deployed in a staging environment for final testing and client feedback before the official launch."
        image={ClientChecksSvg}
      />

      <ProcesCard
        title="Deployment & Support"
        description="We handle the deployment to your live environment and provide ongoing support to ensure the software runs smoothly. We also offer post-launch support for any issues that may arise."
        image={DeploySupportSvg}
        class="sm:col-span-2 sm:w-full sm:min-w-full sm:flex sm:items-center sm:justify-center sm:gap-8 sm:px-10"
        classes={{
          image: "sm:h-[200px]",
          imageContainer: "sm:w-[550px]",
        }}
      />
    </ul>

    <div class="grid gap-8 grid-cols-1 sm:grid-cols-3 mt-[120px] mb-[120px]">
      <PricingCard
        plan={{
          description:
            "Mid-sized companies needing more complex software with additional features.",
          features: [
            "Up to 800 development hours.",
            "Includes regular progress reports and bi-weekly meetings.",
            "Thorough testing processes, including automated testing for critical functionalities.",
            "90 days of post-launch support, including performance optimization.",
            "Multi-technology stack support",
          ],
          name: "Growth Plan",
          price: 36000,
          cta: {
            text: "Contact Us",
            href: `/${lang}/contact`,
          },
        }}
      />
      <PricingCard
        mostPopular
        plan={{
          description:
            "Small businesses or startups looking to develop a basic MVP or small-scale application.",
          features: [
            "Up to 400 development hours",
            "Dedicated PM for the duration of the project.",
            "Standard quality assurance and testing to ensure your software is ready for launch.",
            "60 days of post-launch support for bug fixes and minor updates.",
            "Limited to one core technology.",
          ],
          name: "Essentials Plan",
          price: 12000,
          cta: {
            text: "Contact Us",
            href: `/${lang}/contact`,
          },
        }}
      />
      <PricingCard
        plan={{
          name: "Enterprise Excellence Plan",
          description:
            "Large enterprises seeking highly customized solutions with advanced features.",
          features: [
            "Over 1200 development hours, with options to scale further.",
            "Daily updates, a dedicated PM, and access to a Business Analyst (BA) for strategic alignment.",
            "Extensive testing, including security audits, load testing, and user acceptance testing (UAT).",
            "5 months of post-launch support, including on-site visits (if applicable) and priority issue resolution.",
            "Custom technology stack with integration support for third-party services and APIs.",
          ],
          price: 95000,
          cta: {
            text: "Contact Us",
            href: `/${lang}/contact`,
          },
        }}
      />
    </div>
  </div>
</Layout>
