---
import NavLink from "../../components/Header/NavLink.astro";
import LogoIcon from "../../components/icons/Logo.astro";
import { getI18n } from "../../i18n";
import { getLangFromUrl } from "../../i18n/utils";
import { Instagram, Linkedin, Github, Twitter } from "lucide-astro";

const lang = getLangFromUrl(Astro.url);
const i18n = getI18n({ currentLocale: lang });
const tFooter = i18n.default.footer;
const tNav = i18n.default.header.menu;
const footerNavs = [
  {
    href: "#what-we-do",
    name: tNav?.about,
  },
  {
    href: "#how-it-works",
    name: tNav?.how_it_works,
  },
  {
    href: "#services",
    name: tNav?.services,
  },
  {
    href: "#contact",
    name: tNav?.contact,
  },
];
---

<footer class="text-gray-700 bg-[#f5f8ff] px-4 py-5 pt-14">
  <div class="container flex h-full min-h-[30vh] flex-col justify-between">
    <div>
      <div class="max-w-lg sm:mx-auto sm:text-center">
        <div class="w-32 sm:mx-auto">
          <LogoIcon />
        </div>
        <p class="leading-relaxed mt-2 text-[15px]">
          {tFooter.description}
        </p>
      </div>
      <ul
        class="items-center justify-center mt-8 space-y-5 sm:flex sm:space-x-4 sm:space-y-0"
      >
        {
          footerNavs.map((item, idx) => (
            <NavLink key={idx} href={item.href}>
              {item.name}
            </NavLink>
          ))
        }
      </ul>
    </div>
    <div class="mt-8 items-center justify-between sm:flex">
      <div class="mt-4 sm:mt-0">
        <ul
          class="items-center justify-center mt-1 space-y-5 sm:flex sm:space-x-4 sm:space-y-0"
        >
          <li>
            <a href={"/legal/privacy-policy"} class="underline">
              {tFooter.links.privacy}
            </a>
          </li>
        </ul>
      </div>
      <div class="mt-4 sm:mt-0">
        <a href="mailto:contact@zitdevs.com" class="underline">
          contact@zitdevs.com
        </a>
      </div>
      <div class="mt-6 sm:mt-0">
        <ul class="flex items-center space-x-4">
          <li
            class="border flex items-center justify-center rounded-full hover:bg-secondary hover:text-white"
          >
            <a
              href="https://www.linkedin.com/company/zitdevs"
              target="_blank"
              class="w-10 h-10 flex items-center justify-center"
              aria-label="Linkedin"
            >
              <Linkedin size={20} aria-hidden="true" />
            </a>
          </li>
          <li
            class="border rounded-full flex items-center justify-center hover:bg-secondary hover:text-white"
          >
            <a
              href="https://x.com/zitdevs"
              target="_blank"
              aria-label="Twitter"
              class="w-10 h-10 flex items-center justify-center"
            >
              <Twitter size={20} />
            </a>
          </li>
          <li
            class="border rounded-full flex items-center justify-center hover:bg-secondary hover:text-white"
          >
            <a
              href="https://www.instagram.com/zitdevs/"
              target="_blank"
              aria-label="Instagram"
              class="w-10 h-10 flex items-center justify-center"
            >
              <Instagram size={20} aria-hidden="true" />
            </a>
          </li>
          <li
            class="w-10 h-10 border rounded-full flex items-center justify-center hover:bg-secondary hover:text-white"
          >
            <a
              href="https://github.com/zitdevs"
              target="_blank"
              aria-label="Github"
              class="w-10 h-10 flex items-center justify-center"
            >
              <Github size={20} aria-hidden="true" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
